$card-dimension: 260px;

.card {
  width: $card-dimension;
  height: $card-dimension;
  margin: 20px;
  transition: 0.1s ease;

  background-color: white;
  background-size: cover;
  background-position: center;

  @extend %sh1;

  &:hover {
    cursor: pointer;
    @extend %sh3;
  }
}
