// Text.
$text-primary: #444444;
$text-muted: #888;
// $text-secondary: black;
// $text-primary: black;
// $text-primary: black;

$text-primary-inverse: white;
$text-hint-inverse: rgba(255,255,255,.5);
